# Exclude static build output
dist/client/
dist/

# BUT allow the SSR server files
!dist/server/

# files
_*.astro
_*.mjs

# Local Netlify folder
.netlify

# generated types
.astro/

# dependencies
node_modules/
package-lock.json
yarn.lock

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# underscore files
_*.astro

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/


