@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import './font.css';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'retro';
  default: true;
  --color-primary: #341c1c;
  --color-primary-content: #fc7a57;

  --color-secondary: #fff4d6;
  --color-secondary-content: #5a683b;

  --color-base-100: #fcf9ee;
  --color-base-200: #fbf5da;
  --color-base-300: #ead286;
  --color-base-content: #502b2b;

  --color-map_bg: #fcf9ee;

  --color-accent: #a90f2b;
  /* --color-base-300: #F1DAC4; */
}

@plugin "daisyui/theme" {
  name: 'coffee';
  --color-primary: #f3dfa2;
  --color-primary-content: #fc7a57;

  --color-secondary: #fff7ae;
  --color-secondary-content: #ffe499;

  --color-base-100: #291f1e;
  --color-base-200: #564d4f;
  --color-base-300: #827376;
  --color-base-content: #fbf5da;

  --color-map_bg: #fcf9ee;

  --color-accent: #ff5c5c;
}

.font-gokhan {
  font-family: 'Gokhan';
}

.font-merri {
  font-family: 'Merriweather', serif;
}

.font-work {
  font-family: 'Work Sans', sans-serif;
}
