---
import { marked } from 'marked'
import Article from '../components/Article.astro'
import Layout from '../layout/Layout.astro'
import { executeQuery } from '../lib/datocms.js'

const response = await executeQuery(`query Homepage {
    awareness {
      awarepagetitle
	  ateam
      codeofconduct
      }
    }`)

console.log('Query response:', response)

const { awareness } = response as {
  awareness?: {
    awarepagetitle?: string
    awaremessage?: string
	ateam?: string
    codeofconduct?: string
  }
}

const pagetitle = marked.parse(awareness?.awarepagetitle ?? '')
const message = marked.parse(awareness?.awaremessage ?? '')
const coc = marked.parse(awareness?.codeofconduct ?? '')
const ateam = marked.parse(awareness?.ateam ?? '')
---

<Layout title="Code of Conduct">
	<div class="w-full md:w-7/12 flex flex-col justify-center mx-auto">
	  <h1
	    class="text-heading-1 text-center mb-6"
	    set:html={pagetitle}
	  />
    <Article>
      <div set:html={message}/>
      <div set:html={ateam} />
      <div set:html={coc} />
    </Article>
	</div>
</Layout>
