---
import { StructuredText } from '@datocms/astro/StructuredText'
import { Image } from 'astro:assets'
import Mascot from '../assets/images/mascot_bg.png'
import Article from '../components/Article.astro'

import ImageBlock from '../components/Block_Image.astro'
import VideoBlock from '../components/Block_Video.astro'
import Layout from '../layout/Layout.astro'
import { executeQuery } from '../lib/datocms.js'

const result = await executeQuery(`
  query ForroQuery {
  forro {
    forrotitle
    strforrocontent {
      value
      blocks {
        __typename
        ... on ImageBlockRecord {
          id
          asset {
            url
            alt
            title
            width
            height
          }
        }
        ... on VideoBlockRecord {
          id
          asset {
            url
            title
            width
            height
          }
        }
      }
    }
  }
}
`)
console.log(result)
const forro = (result as { forro?: any }).forro
---

<Layout title="Forro">
  <div class="flex mx-auto items-start justify-between">
    <Article className="max-w-4xl">
      <h1
        class="text-3xl font-merri font-semibold md:mt-15 mt-5"
        set:html={forro.forrotitle}
      />
      <div class="">
        <StructuredText
          data={forro.strforrocontent}
          blockComponents={{
            ImageBlockRecord: ImageBlock,
            VideoBlockRecord: VideoBlock,
          }}
        />
      </div>
    </Article>
    <Image
      src={Mascot}
      alt="PA58 Mascot"
      class="hidden md:block w-1/4 h-auto md:mt-20 hover:scale-110 transition-all object-contain dark:bg-white"
    />
  </div>
    <Image
      src={Mascot}
      alt="PA58 Mascot"
      class="flex mx-auto items-start justify-between h-auto w-1/2 md:hidden hover:scale-110 transition-all object-contain dark:bg-white"
    />
</Layout>
