---
import { Image } from 'astro:assets'
import Mascot from '../assets/images/mascot_bg.png'
import About from '../components/About.astro'
import FindUs from '../components/FindUs.astro'
import GuestBook from '../components/GuestBook2.tsx'
import Lost_Found from '../components/Lost_Found.astro'
import News from '../components/News.astro'
import Layout from '../layout/Layout.astro'
---

<Layout title="ForroÌ da Capita">
  <div
    class="flex flex-col md:flex-row justify-between items-top mt-10 gap-x-10"
  >
    <div class="w-full md:w-5/12 flex flex-col gap-y-10 md:mt-3">
      <News ContainerClasses="order-1" TextClasses="text-xl pt-2" />
      <FindUs
        ContainerClasses="order-2"
        TextClasses="text-base-content text-lg"
      />
      <About
        ContainerClasses="order-4"
        TextClasses="text-base-content text-lg"
      />
      <Lost_Found
        ContainerClasses="order-3"
        TextClasses="text-base-content text-lg"
      />
    </div>
    <div class="w-full md:w-6/12 mt-20 md:mt-3">
      <GuestBook client:only="react" containerClasses="order-4" />
      <div class="hidden md:block w-full mt-12">
        <Image
          src={Mascot}
          alt="PA58 Mascot"
          class="h-64 w-fit ml-auto block hover:scale-125 transition-all object-contain dark:bg-white mr-4"
        />
      </div>
    </div>
  </div>
</Layout>
