---
import About from '../components/About.astro'
import FindUs from '../components/FindUs.astro'
import Board from '../components/GuestBook.js'
import Lost_Found from '../components/Lost_Found.astro'
import News from '../components/News.astro'
import Layout from '../layout/Layout.astro'
---

<Layout title="ForroÌ da Capita">
  <div
    class="flex flex-col md:flex-row justify-between items-top mt-10 gap-x-10"
  >
    <div class="w-full md:w-5/12 flex flex-col gap-y-10 md:mt-14">
      <News ContainerClasses="order-1" TextClasses="text-lg" />
      <FindUs
        ContainerClasses="order-2"
        TextClasses="text-base-content text-lg"
      />
      <About
        ContainerClasses="order-4"
        TextClasses="text-base-content text-lg"
      />
      <Lost_Found
        ContainerClasses="order-3"
        TextClasses="text-base-content text-lg"
      />
    </div>
    <div class="w-6/12">
      <Board client:only="react" containerClasses="order-4" />
    </div>
  </div>
</Layout>
