---
import Board from '../components/Board.js'
import FindUs from '../components/FindUs.astro'
import News from '../components/News.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="ForroÌ da Capita">
  <div
    class="flex flex-col md:flex-row justify-between items-start mt-10 gap-x-10"
  >
    <div class="w-full md:w-3/5 flex flex-col gap-y-10">
      <News ContainerClasses="order-1" , TextClasses="" />
      <FindUs ContainerClasses="justify-start mt-0 order-2" />
    </div>
    <div class="w-2/5">
      <Board client:only="react" />
    </div>
  </div>
</Layout>
