---
const { id } = Astro.props
---

<div id={id} class="w-full">
  <h2 class="text-heading-2">About</h2>
  <div class="text-base-styles">
    <p>
      Read about the
      <a href="/pa58" class="underline underline-offset-4 hover:no-underline">
        housing project
      </a> at Prinzenallee 58 or our
      <a href="/forro" class="underline underline-offset-4 hover:no-underline">
        Forró venue
      </a> there.
    </p>
  </div>
</div>