---
import { twMerge } from 'tailwind-merge'

interface Props {
  ContainerClasses?: string
  TextClasses?: string
  HeadingClasses?: string
}

const {
  ContainerClasses = '',
  TextClasses = '',
  HeadingClasses,
}: Props = Astro.props

const baseContainerClasses = 'w-full order-4'
const mergedContainerClasses = twMerge(baseContainerClasses, ContainerClasses)

const baseTextClasses = 'text-base-flex rounded-xl'
const mergedTextClasses = twMerge(baseTextClasses, TextClasses)

const baseHeadingClasses = 'heading-base-styles'
const mergedHeadingClasses = twMerge(baseHeadingClasses, HeadingClasses)
---

<div class={mergedContainerClasses}>
  <div>
    <h1 class={mergedHeadingClasses}>About</h1>
    <div class={mergedTextClasses} data-typography="applied">
      <p>
        Read about the
        <a
          href="/pa58"
          class="underline underline-offset-4 hover:no-underline cursor-pointer"
          role="button"
        >
          housing project
        </a> at Prinzenallee 58 or our
        <a
          href="/forro"
          class="underline underline-offset-4 hover:no-underline cursor-pointer"
          role="button"
        >
          Forró venue
        </a> there.
      </p>
    </div>
  </div>
</div>
