---
import { twMerge } from 'tailwind-merge'
const { className = '', lang = 'en' } = Astro.props

const baseClasses = 'max-w-prose'

const mergedClasses = twMerge(baseClasses, className)
---

<article class={mergedClasses} lang={lang}>
  <div class="text-base-styles">
    <slot />
  </div>
</article>