---
import { Image } from 'astro:assets'
import SofiaIcon from '../assets/icons/sofiaIcon2.png'
import FDCLogo from './ForroDaCapita_Logo.astro'
import Menu from './Menu.astro'
import MobileHeader from './MobileHeader.astro'
---

<header class="w-full py-1 md:pt-2">
  <!-- Desktop layout -->
  <div class="hidden md:flex flex-row items-top justify-between mx-auto">
    <FDCLogo />

    <Menu containerClasses="md:mt-4" />

    <!-- Desktop image -->
      <Image
        src={SofiaIcon}
        alt="Toggle dark/light theme"
        class="md:w-25 md:h-25 mt-7 items-center justify-center cursor-pointer"
        id="theme-switch-img"
        data-tippy-content="Toggle theme"
        data-tippy-placement="bottom"
        role="button"
        tabindex="0"
      />
  </div>

  <!-- Mobile layout -->
  <div
    class="md:hidden flex flex-row items-center justify-between mx-auto my-4"
  >
    <MobileHeader containerClasses="" />
  </div>
</header>
