---
import { marked } from 'marked'
import { executeQuery } from '../lib/datocms.js'
import BoxIcon from './Icon_Box.astro'
import Slider from './SplideSlider.astro'

const { id } = Astro.props

const { lostfound } = (await executeQuery(`query Homepage {
    lostfound {
      lfinfo
      lfimages { id url alt }
    }
}`)) as {
  lostfound?: {
    lfinfo?: string
    lfimages?: Array<{ id: string; url: string; alt?: string }>
  }
}

const lf_images = lostfound?.lfimages ?? []
const lf_conditions = marked.parse(lostfound?.lfinfo ?? '')
---

<div id={id} class="w-full">
  <h2 class="text-heading-2">Lost and Found</h2>
  <div class="flex flex-row items-center justify-between">
    <div class="text-base-styles">
      <span>Miss something? Have a look in the 
        <a id="boxLink" class="no-underline">box</a>.
      </span>
      <div set:html={lf_conditions} />
    </div>
    <BoxIcon id="boxIcon" className="mb-2 min-w-9 md:w-12" />
  </div>
</div>

<Slider
  prefix="lf"
  triggerIDs={['boxLink', 'boxIcon']}
  images={lf_images}
  showCounter={true}
  arrowPosition="h-[80vh]"
/>