---
import { marked } from 'marked'
import { executeQuery } from '../lib/datocms.js'

const { id } = Astro.props

const { news } = (await executeQuery(
  `query { news { newsheader, newstext } }`
)) as { news?: { newsheader?: string; newstext?: string } }

const newstext = marked.parse(news?.newstext ?? '')
---

<div id={id} class="w-full">
  <h2 class="text-heading-2">{news?.newsheader}</h2>
  <div class="text-base-styles" set:html={newstext} />
</div>