---
import { marked } from 'marked'
import { twMerge } from 'tailwind-merge'
import { executeQuery } from '../lib/datocms.js'

interface Props {
  ContainerClasses?: string
  TextClasses?: string
  HeadingClasses?: string
}

const {
  ContainerClasses = '',
  TextClasses = '',
  HeadingClasses,
}: Props = Astro.props

const baseContainerClasses = 'w-full'
const mergedContainerClasses = twMerge(baseContainerClasses, ContainerClasses)

const baseTextClasses = 'prose font-merri items-center text-accent text-xl'
const mergedTextClasses = twMerge(baseTextClasses, TextClasses)

const baseHeadingClasses =
  'prose text-xl font-gokhan text-secondary-content tracking-wider'
const mergedHeadingClasses = twMerge(baseHeadingClasses, HeadingClasses)

const { home } = (await executeQuery(`query HomeQuery { home { news } }`)) as {
  home?: { news?: string }
}

const news = home?.news ?? ''
const html = marked(news ?? '')
---

<div class={mergedContainerClasses}>
  <h1s class={mergedHeadingClasses}>NEWS</h1s>
  <div class={mergedTextClasses} set:html={html} />
</div>
