---
import { marked } from 'marked'
import { executeQuery } from '../lib/datocms.js'

const { id } = Astro.props

const { awareness } = (await executeQuery(
  `query { awareness { awaremessage } }`
)) as { awareness?: { awaremessage?: string } }

const content = awareness?.awaremessage ?? ''
const parsedContent = marked.parse(content)
---

<div id={id} class="w-full">
  <h2 class="text-heading-2">
    <a href="/coc" class="hover:underline underline-offset-4">
      Help & Code of Conduct
    </a>
  </h2>
  <div class="text-base-styles">
    <span set:html={parsedContent} />
  </div>
</div>