---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/main.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen bg-base-200">
    <main class="w-[85%] mx-auto">
      <Header />
      <slot />
      <Footer />
    </main>
  </body>
</html>
