---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/main.css'
import SpeedInsights from '@vercel/speed-insights/astro'
import Analytics from '@vercel/analytics/astro'
const { title } = Astro.props
---

<!doctype html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <script>
      // Apply the theme as early as possible
      ;(function () {
        const savedTheme = localStorage.getItem('theme')
        if (savedTheme) {
          document.documentElement.setAttribute('data-theme', savedTheme)
        }
      })()
    </script>
  </head>
  <body class="flex flex-col min-h-screen bg-base-100">
    <SpeedInsights />
    <Analytics />
    <main class="w-[85%] mx-auto">
      <Header />
      <slot />
      <Footer ContainerClasses="mt-30" />
    </main>
  </body>
</html>

<script>
  // Function to set the theme
  function setTheme(theme: string) {
    document.documentElement.setAttribute('data-theme', theme)
    localStorage.setItem('theme', theme)
  }

  // Function to initialize the theme
  function initializeTheme() {
    const themeController = document.querySelector('.theme-controller')

    if (themeController) {
      themeController.addEventListener('change', function (event) {
        const input = event.currentTarget as HTMLInputElement
        setTheme(input.checked ? 'coffee' : 'retro')
      })
    }
  }

  // Initialize the theme when the page loads
  document.addEventListener('DOMContentLoaded', initializeTheme)
</script>
